* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}
/* main color: #0085FF */
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
/* header/nav */
header {
    background: #0085FF;
    color: white;
    text-align: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    padding: 1.25rem;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 2;
}
nav {
    width: 65vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links {
    display: flex;
    list-style-type: none;
}
nav h1 {
    font-size: calc(1vw + 1rem);
}
.links a {
    text-decoration: none;
    color: white;
    margin: 0px 2vw;
    font-size: 1.5rem;
    font-size: calc(0.75vw + 0.5rem);
}
.burger {
    display: none;
}

/* hero section */
.hero {
    display: flex;
    padding: calc(2vw + 1.5rem);
    justify-content: space-between;
    align-items: center;
}
.hero-content {
    flex: 1;
}
.hero-content h1 {
    font-size: calc(1vw + 1rem);
}
.hero-content p {
    font-size: calc(1vw + 0.5rem);
    line-height: calc(1vw + 1.5rem);
    margin-top: calc(1vw + 1rem);
}
.hero-image {
    flex: 1;
    width: 60%;
}
.icons {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.icons img {
    width: 10%;
    margin: 0rem 2rem;
}

/* home section */
#home {
    margin: 10vh 0vh;
}
.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    width: 25vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.card:hover {
    transform: translateY(-3%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}
.card img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}
.card-content {
    padding: calc(0.5vw + 0.5rem);
    text-align: center;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.2);
}
.card-content p {
    font-size: calc(0.5vw + 0.5rem);
    line-height: calc(1vw + 0.75rem);
}
.card-content h3 {
    font-size: calc(1vw + 0.75rem);
    margin: calc(0.5vw + 0.5rem);
}
.home-content {
    display: flex;
    align-items: center;
    padding: 3rem;
    margin: 10vh 0vh;
}
.home-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(1vw + 0.5rem);
    line-height: calc(1vw + 2rem);
    margin: 2rem;
}
.home-text p {
    margin-top: 2rem;
}
.home-content img {
    flex: 1;
    width: 50vw;
}
.stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    color: white;
    background: linear-gradient(90deg, rgb(0, 102, 197) 0%,#0085FF 100% );
    padding: 2vw;
    text-align: center;
}
.stats h1 {
    font-size: calc(1vw + 0.5rem);
}
.stats span {
    text-transform: uppercase;
    display: block;
    font-size: calc(1vw + 1rem);
}

/* about section */
#about {
    display: flex;
    margin: 20vh 2rem;
    align-items: center;
}
#about img {
    width: 45%;
}
.about-content h1 {
    font-size: calc(1.5vw + 1rem);
}
.about-content p {
    font-size: calc(1vw + 0.75rem);
    line-height: calc(1vw + 2rem);
    margin: 2rem 2rem 0rem 0rem;
}

/* projects section*/
#projects {
    text-align: center;
    margin: 7vh 0vh 10vh 0vh;
}
#projects h1 {
    font-size: calc(2vw + 1rem);
    padding-bottom: 2vw;
    margin-bottom: 2vw;
    border-bottom: 2px solid black;
}
.projects {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project {
    width: 25vw;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    margin-top: 2rem;
    background: white;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.project:hover {
    transform: translateY(-3%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.project img {
    width: 100%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
.project-content {
    text-align: left;
    padding: 0rem calc(1vw + 1rem);
    line-height: calc(1vw + 0.75rem);
}
.project-content p {
    font-size: calc(0.5vw + 0.5rem);
}
.project-content a {
    color: blue;
}

/* contact section */
#contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
}
form {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    flex: 1;
    padding: 5rem;
}
form h1 {
    font-size: calc(1vw + 1rem);
    margin-bottom: 2rem;
}
form textarea {
    resize: none;
    width: 75%;
    height: 7rem;
    padding: 10px;
    border: 2px solid black;
}
form input {
    padding: 10px;
    width: 75%;
    margin-bottom: 1rem;
    border: 2px solid black;
}
#submit {
    margin-top: 1rem;
    background: #005c97;
    border-radius: 5rem;
    color: white;
    border: none;
}
.contact-image {
    width: 40%;
    padding: 1rem;
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #005c97;
    color: white;
    padding: 1rem 5vw;
}
footer ul {
    display: flex;
    list-style-type: none;
}
footer ul li {
    margin: 0rem 1vw;
    font-size: calc(0.5vw + 0.75rem);
}

/* animations */
.card, .home-text, .home-content img, .about-content, #about img, .project, form, .contact-image {
    opacity: 0;
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes move-right {
    from {
        opacity: 0;
        transform: translateX(-5%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes move-up {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* media queries */
@media screen and (max-width: 1100px) {
    /* cards */
    .cards {
        flex-direction: column;
    }
    .card {
        width: 75vw;
        margin: 2rem auto;
    }
    .card img {
        height: 40vh;
    }
    .card p {
        font-size: 1.25rem;
        line-height: 2rem;
        padding: 2vw;
        width: 100%;
    }
    .card h3 {
        font-size: 2rem;
    }
    .home-content {
        padding: 1rem;
    }
    .home-text {
        font-size: calc(0.75vw + 0.75rem);
        line-height: calc(1.5vw + 1.5rem);
    }
    .home-text p {
        margin-top: 1rem;
    }
    /* about section */
    #about {
        flex-direction: column;
        text-align: center;
        margin: 1rem 0.5rem;
    }
    .about-content p {
        margin-top: 1vh;
        margin: 1rem;
    }
    #about img {
        width: 75%;
    }
    .projects {
        flex-direction: column;
    }
    .project {
        width: 65vw;
    }
    .project-content {
        padding: 1rem;
    }
    .project-content p {
        font-size: 1rem;
        line-height: 1.75rem;
    }
    #contact {
        flex-direction: column;
    }
    form h1 {
        font-size: calc(1vw + 2rem);
        text-align: center;
    }
    form {
        width: 95vw;
    }
    form textarea, form input {
        width: 100%;
    }
    .contact-image {
        display: none;
    }
    form {
        width: 100vw;
        padding: 2rem;
    }
    form textarea, form input {
        width: 100%;
    }
    .card, .home-text, .home-content img, .about-content, #about img, .project, form, .contact-image {
        opacity: 1;
    }
}
@media screen and (max-width: 800px) {
    /* burger nav */
    nav {
        width: 85vw;
    }
    .links {
        position: fixed;
        list-style: none;
        flex-direction: column;
        top: 0;
        left: 100%;
        width: 100vw;
        height: 100vh;
        padding-top: 10vh;
        line-height: 20vh;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.7);
        transition: transform 0.5s ease-in-out;
        transform: translateX(0%);
    }
    .links-active {
        transform: translateX(-100%);
    }
    
    .links a {
        color: white;
        text-decoration: none;
        font-size: calc(1vh + 1rem);
    }
    .burger {
        display: block;
    }
    .burger-active {
        z-index: 10;
    }
    .burger .line {
        background: white;
        width: 2rem;
        height: 4px;
        border-radius: 2px;
        margin-top: 5px;
        transition: 0.5s ease-in-out;
    }
    .burger-active .line:nth-child(1) {
        transform-origin: center;
        transform: rotateZ(45deg) translateY(305%);
    }
    .burger-active .line:nth-child(2) {
        opacity: 0;
    }
    .burger-active .line:nth-child(3) {
        transform-origin: center;
        transform: rotateZ(-45deg) translateY(-305%);
    }
    /* hero-section */
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 3rem;
        justify-content: center;
    }
    .hero-content h1 {
        font-size: 1.5rem;
    }
    .hero-content p {
        font-size: calc(0.75vw + 0.75rem);
        line-height: calc(1vw + 1.5rem);
    }
    .icons {
        margin: 1rem 0rem 0rem 0rem;
        justify-content: space-around;
    }
    .hero-image {
        width: 90%;
    }
    .home-content {
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }
    .home-text {
        padding: 5vw;
    }
    .home-text {
        margin: 0;
    }
    .home-content img {
        width: 90vw;
    }
}
@media screen and (max-width: 500px) {
    .hero {
        padding: 2rem;
    }
    .hero p {
        text-align: left;
    }
    .card h3 {
        font-size: 1.5rem;
    }
    .card p {
        font-size: 1rem;
        line-height: 2rem;
    }
    .home-text {
        padding: 0;
        font-size: 1rem;
        line-height: 2rem;
    }
    .project {
        width: 80vw;
    }
}